@using Microsoft.AspNetCore.Identity;
@model IEnumerable<PiPA.Models.Tasks>

@{
    Layout = "_Layout";
}

<h1>All Tasks</h1>

<table>
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Planned Completed Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedDateComplete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>